body {  
  font-family: "Helvetica Neue", sans-serif;
  color: #222;
}

#graph {
  width: 1200px;
  margin: 0 auto;
}

#graph h1 {
  font-size: 48px;
  margin-bottom: 0px;
}

#graph h2 {
  margin-bottom: 5px;
}

#rightSidebar {
  float: right;
  width: 37%;
}

#layout-selector button {
  margin: 3px;
}

#time-selector span.time-label {
  padding: 3px;
}


.link {
  stroke: #ddd;
  stroke-width: 1.5px;
}

.link:hover {
  stroke: #777;
  stroke-width: 3px;
}

.node {
  stroke: #777;
  stroke-width: 1.5px;
  fill: #b3cde3;
  cursor: move;
  transition: fill 1s ease;
}

.node.created {
  fill: #fbb4ae;
}


.node.hover {
  stroke-width: 3px;  
}

.node-label {
  cursor: move;
}

.tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 10px;
}

#about {
  float: right;
  margin-top: 40px;
  margin-right: 40px;
  width: 375px;
}

.search-term {
  color: green;
}

.error {
  color: DarkRed;
}

#upload-form label {
  margin-right: 10px;
}

#upload-form fieldset {
  border: none;
}

#upload-form fieldset {
  padding-top: 3px;
  padding-bottom: 3px;
}

