.graph, #graph-title {  
  font-family: "Helvetica Neue", sans-serif;
  color: #222;
}

#graph {
  width: 960px;
  height: 500px;
  font-family: "Helvetica Neue", sans-serif;
  color: #222;
}

#graph .axis path, .axis line {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}

#graph #legend ul {
  list-style: none;  
  padding: 0px;
  margin: 0px;
}

#graph #legend ul li {
  padding: 0px;
  margin: 0px;
}

#graph .axis text {
  font-size: 13px;
  fill: #222;
}

#graph .axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

#graph #controls {
  font-size: 13px;
}

#graph #controls form fieldset {
  padding: 0px;
  margin: 0px;
  display: inline-block;  
  border: none;
}

#graph #controls form fieldset label {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 3px;
}

#graph #controls form fieldset .radio-label {
  margin-left: 3px;
  margin-right: 5px;
}

#graph #controls label.toggle {
  margin-left: 15px;
}

#graph #info {
  font-size: 11px;
}

#graph #info button {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

#graph #controls input[type="checkbox"] {
  margin-right: 5px;
}


#graph .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#graph #legend text {
  font-size: 13px;
}

#graph #y-axis-title {
  font-weight: bold;
}

.graph.tip {
  line-height: 1.25;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 10px;
}
